
@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}


<h2>Log ind</h2>

<form method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>

    <button type="submit">Log ind</button>

    <!-- 👇 Opret bruger-knap -->
    <a asp-page="/Register" class="btn btn-secondary">Opret bruger</a>
</form>


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red">@Model.ErrorMessage</p>
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="color:green">@Model.Message</p>
}


    


