@page
@model RegisterModel
@{
    ViewData["Title"] = "Opret Bruger";
    ViewData["ShowNavbar"] = false;
}



<h2>Opret profil</h2>

<form method="post">
    <div>
        <label>Brugernavn</label>
        <input asp-for="Username" required />
    </div>
    <div>
        <label>Adgangskode</label>
        <input asp-for="Password" type="password" required />
    </div>
    <div>
        <label>Navn</label>
        <input asp-for="Name" required />
    </div>
    <div>
        <label>Telefon</label>
        <input asp-for="Phone" required />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" type="email" required />
    </div>
    <button type="submit">Opret profil</button>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p>@Model.Message</p>
    }
</form>


