@page
@model RegisterModel
@{
    ViewData["Title"] = "Opret Bruger";
    ViewData["ShowNavbar"] = false;
}



<div class="wrapper">
    <div class="login-container">
        <h2 class="login-title">Opret profil</h2>
        <form method="post" class="login-form">
            <div class="form-group">
                <label class="form-label" for="brugernavn">Brugernavn</label>
                <input type="text" id="brugernavn" name="brugernavn" class="form-input" />
            </div>

            <div class="form-group">
                <label class="form-label" for="adgangskode">Adgangskode</label>
                <input type="password" id="adgangskode" name="adgangskode" class="form-input" />
            </div>

            <div class="form-group">
                <label class="form-label" for="navn">Navn</label>
                <input type="text" id="navn" name="navn" class="form-input" />
            </div>

            <div class="form-group">
                <label class="form-label" for="telefon">Telefon</label>
                <input type="tel" id="telefon" name="telefon" class="form-input" />
            </div>

            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input type="email" id="email" name="email" class="form-input" />
            </div>

            <button type="submit" class="login-button">Opret profil</button>
        </form>
    </div>
</div>

<form>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p>@Model.Message</p>
    }
</form>


