@page
@model HillerodSejlklub.Pages.UserPages.BookingModel
@{
}
<body>
    <container-sm>
        <div class="text-center">
            <h1>Book lokale</h1>
        </div>

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group container-fluid">
                        <label for="inputDateTime">Startid: </label>
                        <input type="datetime-local" asp-for="_sDT" id="BookingStart" aria-describedby="dateTimeHelp" placeholder="Enter Date/Time" step="3600">
                        <label for="inputDateTime">Sluttid: </label>
                        <input type="datetime-local" asp-for="_eDT" id="BookingEnd" aria-describedby="dateTimeHelp" placeholder="Enter end time" step="3600" />
                    </div>
                    <div class="mt-2">
                        <label for="inputBoatID">Vælg båd: </label>
                        <div class="form-group mt-2 d-inline">
                            <select asp-for="_boatID" id="Boats">
                                @foreach (var boat in Model.Boats)
                                {
                                    <option value="@boat.ID">@boat.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mt-2">
                        <form method="post">
                        <label for="inputMember">Vælg medlemmer: </label>
                        <div class="form-group mt-2 d-inline">
                            <select asp-for="_mID" id="Members">
                                @foreach (var member in Model.Members)
                                {
                                    <option value="@member.ID">@member.Name</option>
                                }
                            </select>
                        </div>
                        </form>
                    </div>
                    
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
                </<div>
                </div>
                </div>
                </div>
    </container-sm>
    <script> //script to set DateTime forms to current time
        // Get the current date and time
        const now = new Date().toISOString().slice(0, 16); // Slices to match the datetime-local format

        // Set the value attribute of the input fields
        document.getElementById('BookingStart').value = now;
        document.getElementById('BookingEnd').value = now;
    </script>

    </body>
