@page
@model HillerodSejlklub.Pages.UserPages.BookingModel
@{
}
<body>
    <container-sm>
        <div class="text-center">
            <h1>Book lokale</h1>
        </div>

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group container-fluid">
                        <label for="inputDateTime">Startid: </label>
                        <input type="datetime-local" asp-for="_sDT" id="StartDateTime" aria-describedby="dateTimeHelp" placeholder="Enter Date/Time" step="3600">
                        <label for="inputDateTime">Sluttid: </label>
                        <input type="datetime-local" asp-for="_eDT" id="EndDateTime" aria-describedby="dateTimeHelp" placeholder="Enter end time" step="3600" />
                    </div>
                    <div class="mt-2">
                        <label for="Lokale">Skift Lokale: </label>
                        <div class="form-group mt-2 d-inline">
                            <select asp-for="_boatID" id="Boats">
                                @foreach (var boat in Model.Boats)
                                {
                                    <option value="@boat.RegistrationNumber">@boat.Name</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="mt-2">
                        <label for="Lokale">Skift Lokale: </label>
                        <div class="form-group mt-2 d-inline">
                            <select asp-for="_mID" id="Members">
                                <option value="0">Select a room</option>
                                <option value="1">Alpha</option>
                                <option value="2">Beta</option>
                                <option value="3">Charlie</option>
                                <option value="4">Delta</option>
                                <option value="5">Echo</option>
                                <option value="6">Foxtrot</option>
                            </select>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
                </<div>
                </div>
                </div>
                </div>
    </container-sm>
    <script>
        var rooms=document.getElementById("Boats");
        boats.value=getQueryParameter("boatReg");

    </script>
    </body>
