
@page
<link href="~/css/site.css" rel="stylesheet" />
@model HillerodSejlklub.Pages.UserPages.EventsModel
@{
}


<div class="row mt-5">
    <h2 class="text-center w-100">Our current upcoming events</h2>
    <div class="col-md-4 text-center mt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Sunset Sail & Wine Evening!</h5>
                <p class="card-text">Savor the beauty of the sea at golden hour. Join us for an elegant Sunset Sail & Wine Evening, perfect for winding down the week and enjoying the peaceful charm of sailing at dusk.</p>
				<img src="~/img/events/wineevening.jpg" width=" 250"/>
                <p class="card-text">Wednesday July 15th. 17:00 - 21:00</p>

               @*  <a href="/UserPages/AllSailboats" class="btn btn-outline-primary">View Sailboats</a> *@
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center mt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Christmas party!</h5>
                <p class="card-text">Join us as we deck the hulls and celebrate the holiday season by the water! Hillerod Sejlklub warmly invites all members, family, and friends to our annual Christmas Party. Expect a cozy evening filled with festive food, drinks, music, and great company.</p>
				<img src="~/img/events/christmas.jpg" width=" 250" />
                <p class="card-text">Tuesday December 15th. 17:00 - 21:00</p>

            </div>
        </div>
    </div>
    <div class="col-md-4 text-center mt-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Spring Regatta & BBQ</h5>
                <p class="card-text">Get ready to hoist your sails and fire up the grill! We're kicking off the sailing season with our annual Spring Regatta, followed by a relaxing club BBQ onshore.</p>
				<img src="~/img/events/bbq.jpg" width=" 250"/>
                <p class="card-text">Monday June 15th. 17:00 - 21:00</p>

@*                 <a href="/UserPages/AvailableBoats" class="btn btn-outline-primary">View Rowboats</a>
 *@            </div>
        </div>
    </div>
